/* Colors*/
/* Bottons */
/* Fonts */
/* Radius */
h1 {
  color: #FFF;
  font-family: "roboto";
  font-weight: 500;
  font-size: 1.5rem;
}

p {
  color: #FFF;
  font-family: "roboto";
  font-weight: 200;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 3fr repeat(6, 4fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: " top header folio folio folio folio folio folio" " top header folio folio folio folio folio folio" " top header folio folio folio folio folio folio" " top header api api api2 api2 api2 api2" " top header api api api2 api2 api2 api2" " top header api api api2 api2 api2 api2" " top header api api api2 api2 api2 api2";
}

.m1 {
  grid-area: 2/4/6/7;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  background-image: url("/images/blank-business-composition-computer-373076.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
  z-index: 300;
}
.m1 .btn1 {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  grid-area: 8/2/10/4;
  display: block;
  background-color: #380382;
  height: 50px;
  border-radius: 60px;
  border: none;
  justify-self: center;
  align-self: center;
  padding: 15px 30px 15px 30px;
}
.m1 .btn1 a {
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
  font-weight: bolder;
}

.m2 {
  grid-area: 3/6/7/8;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  background-image: url("/images/business-code-coding-computer-270360.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
}
.m2 .btn1 {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  grid-area: 8/3/11/5;
  display: block;
  background-color: #edd405;
  height: 50px;
  border-radius: 60px;
  border: none;
  justify-self: center;
  align-self: center;
  padding: 15px 30px 15px 30px;
  transform: rotate(270deg);
}
.m2 .btn1 a {
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
  font-weight: bolder;
}

.top {
  grid-area: top;
  background: #380382;
}

.header {
  grid-area: header;
  background: #F9F5FF;
}

.folio {
  grid-area: folio;
  background: #FFF;
}

.api {
  grid-area: api;
  background-color: #7EE8ED;
}

.api2 {
  grid-area: api2;
  background-color: #ED0551;
}

.fluid-behind {
  color: #FFF;
  font-family: "Roboto";
  text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  font-size: 150px;
  letter-spacing: 0.15em;
  position: fixed;
  top: 18%;
  left: 33%;
  transform: translate(-15%, -40%);
  z-index: 400;
}

.description {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.description .title {
  transform: rotate(270deg);
  text-align: center;
  margin: 2rem;
}
.description .text1 {
  display: block;
  transform: rotate(270deg);
  text-align: center;
  margin: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navigation .text2 {
  font-weight: normal;
  color: #380382;
  transform: rotate(270deg);
}
.navigation .menu {
  transform: rotate(270deg);
  margin: 0;
}
.navigation .menu a {
  margin-right: 14px;
}

.instagram {
  max-width: 20%;
}

@media only screen and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-areas: " top top top top top top" " header header header header header header  " " folio folio folio api api api " " api2 api2 api2 api2 api2 api2" " api2 api2 api2 api2 api2 api2" " api2 api2 api2 api2 api2 api2";
  }

  .m1 {
    grid-area: 3/2/5/4;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background-image: url("/images/blank-business-composition-computer-373076.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    margin: -12px;
    z-index: 100;
  }

  .m2 {
    grid-area: 4/3/6/6;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background-image: url("/images/business-code-coding-computer-270360.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    margin: -12px;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .description .title {
    transform: none;
    text-align: center;
    margin: 2rem;
  }
  .description .text1 {
    transform: none;
    text-align: center;
    margin: 1rem 11rem;
  }

  .fluid-behind {
    color: #FFF;
    font-family: "Roboto";
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    font-size: 110px;
    letter-spacing: 0.15em;
    position: fixed;
    top: 89%;
    left: 30%;
    transform: translate(-15%, -40%);
    z-index: 0;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .navigation .text2 {
    text-align: center;
    color: #380382;
    transform: none;
    margin-top: 1rem;
  }
  .navigation .menu {
    margin: 1rem;
    text-align: center;
    transform: none;
  }
  .navigation .menu a {
    margin-right: 14px;
  }

  .instagram {
    max-width: 2%;
  }
}
@media only screen and (max-width: 568px) {
  .container {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.5fr 2fr 1fr 1fr;
    grid-template-areas: "top " "header" "folio" "api2" "api2 ";
  }

  .m1 {
    grid-area: folio;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background-image: url("/images/blank-business-composition-computer-373076.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    z-index: 300;
  }
  .m1 .btn1 {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    grid-area: 6/2/8/4;
    display: block;
    background-color: #380382;
    height: 50px;
    border-radius: 60px;
    border: none;
    justify-self: center;
    align-self: center;
    padding: 15px 30px 15px 30px;
  }
  .m1 .btn1 a {
    color: #FFF;
    font-family: "Roboto";
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    font-weight: bolder;
  }

  .m2 {
    grid-area: api2;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background-image: url("/images/business-code-coding-computer-270360.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
  .m2 .btn1 {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    grid-area: 5/2/7/4;
    display: block;
    background-color: #edd405;
    height: 50px;
    border-radius: 60px;
    border: none;
    justify-self: center;
    align-self: center;
    padding: 15px 30px 15px 30px;
    transform: none;
  }
  .m2 .btn1 a {
    color: #FFF;
    font-family: "Roboto";
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    font-weight: bolder;
  }

  .description .text1 {
    transform: none;
    text-align: center;
    margin: 1rem;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .navigation .text2 {
    text-align: center;
    color: #380382;
    transform: none;
    margin-top: 1rem;
  }
  .navigation .menu {
    margin: 1rem;
    text-align: center;
    transform: none;
  }
  .navigation .menu a {
    margin-right: 14px;
  }

  .instagram {
    max-width: 7%;
  }

  .fluid-behind {
    color: #FFF;
    font-family: "Roboto";
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 0.15em;
    position: fixed;
    top: 68%;
    left: 33%;
    transform: translate(-15%, -40%);
    z-index: 400;
  }
}

/*# sourceMappingURL=styles.css.map */
